<div class="container mt-4">
  <div class="container col-6" style= "background-color: #eeeeee">

   <h1><strong>Edit flat</strong></h1>

   <%= render "form", flat: @flat %>
   <%= link_to 'Cancel', flats_path(@flat), class: ' btn btn-danger mt-2' %>
  </div>

</div>
